public/html/admin/
public/html/asignaturas/
public/html/asistencias/
public/html/calificaciones/
public/html/carrera/
public/html/cuadrantes/
public/html/cuatrimestre/
public/html/curso/
public/html/docente/
public/html/evaluaciones/
public/html/parcial/
public/html/reportes/
public/html/tutor/
public/html/cambio_pass.html
public/html/correo.html
public/html/mensaje.html
public/html/login.html
public/html/recupera.html

modules/admin/
modules/asignatura/
modules/asistencias/
modules/calificaciones/
modules/carrera/
modules/cuadrantes/
modules/cuatrimestre/
modules/curso/
modules/docente/
modules/evaluaciones/
modules/horario/
modules/parcial/
modules/reportes/
modules/tutor/
modules/usuario/



